# Build output
build/
out/
cmake-build-*/

.cache/

# CMake
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/

# Compiled objects / binaries
*.o
*.obj
*.a
*.so
*.dylib
*.dll
*.exe

# IDE / editor
.vscode/
.idea/
*.swp

# macOS
.DS_Store

# Claude
Claude.md

# Prompts
output-prompts/
input-prompts/
elo-test