<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>CuteChess</string>
    <key>CFBundleIdentifier</key>
    <string>com.cutechess.cutechess</string>
    <key>CFBundleName</key>
    <string>CuteChess</string>
    <key>CFBundleDisplayName</key>
    <string>CuteChess</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.5.1</string>
    <key>CFBundleIconFile</key>
    <string>cutechess.icns</string>
    <key>NSHighResolutionCapable</key>
    <true/>
</dict>
</plist>
